/* .board-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */



.board {
    position: relative;
    background-color: transparent;
    /* background-color: #deb887; */
    /* border: 1px solid #8b4513; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    width: calc(30vw);
    height: calc(50vh);
    margin: 50px;
    /* transform: translate(10px, 10px); */
}
.line {
    position: absolute;
    /*background-color: #cfedca;*/
}
.line.horizontal {
    height: 1px;
}
.line.vertical {
    width: 1px;
}

:root {
    --player-color: rgba(255, 255, 255, 0.5);
    --stone-radius: 30px;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    cursor: default;
}
.point:not(.black):not(.white):hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--stone-radius);
    height: var(--stone-radius);
    background-color: var(--player-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.stone {
    position: absolute;
    width: var(--stone-radius);
    height: var(--stone-radius);
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.stone.black {
    /*background-color: black;*/
}
.stone.white {    
    background-color: white;
}

.nav-button {
    background: transparent;
    border: 1px solid #ddd;
    box-shadow: inset 0 0 8px rgba(255,255,255,0.2);
}

/* 动态背景融合方案 */
.nav-button {
    background: linear-gradient(45deg,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.05) 100%);
    mix-blend-mode: overlay;
}